# Build artifacts
*.rpm
*.tar.gz
managed-tokens-*/*

# Testing
.vscode/*

# Built executables
cmd/refresh-uids-from-ferry/refresh-uids-from-ferry
cmd/token-push/token-push
refresh-uids-from-ferry
token-push

# JSONNET Testing library
libsonnet/jsonnetunit
